:root {
    /* https://coolors.co/05668d-028090-00a896-02c39a-f0f3bd */
    --color-level--1: #05668d;
    --color-level--2: #028090;
    --color-level--3: #00a896;
    --color-level--4: #02c39a;
    --color-level--5: #f0f3bd;
}

body {
    background-color: #fcfcfc;
    color: #333;
    font-family: sans-serif;
    line-height: 1.2;
}

.app {
    display: grid;
    grid-template-areas: 'radar' 'list';
    grid-column-gap: 2em;
}

.container {
    max-width: 36em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

.radar {
    height: auto;
    width: 100%;
}
.radar__technology {
    fill: var(--color-level--5);
}

.technology-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tooltip {
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-weight: bolder;
    position: absolute;
    transform: translate(-50%, calc(-50% - 2em));
}

.fill--level-1 { fill: var(--color-level--1); }
.fill--level-2 { fill: var(--color-level--2); }
.fill--level-3 { fill: var(--color-level--3); }
.fill--level-4 { fill: var(--color-level--4); }

.is-active {
    text-decoration: underline;
}

@media only screen and (min-width: 64em) {
    .app {
        grid-template-areas: 'radar list';
    }

    .container {
        max-width: 100%;
    }
}
